* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-image: url(madeirarosa.jpg);
  background-repeat: no repeat;
  background-position: 100% 10%;
  background-size: cover;
  background-attachment: fixed;
}

.avatar {
  width: 80px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0 0 5px white;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 2px;
}

h2 {
  font-size: 16px;
  
}

.profile {
  margin-top: 20px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 15px 130px;
}

.social img {
  width: 33px;
}


.links-list {
  list-style: none;
}

.links-list li {
  margin: 10px 20px;
}

.links-list li a {
  display: block;
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  text-decoration: none;
  color:rgb(79 147 173);
  font-weight: bold;
    
}

.links-list li a span {
  color: grey;
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.links-list li a.active {
  box-shadow: 0 0 20px white;
  color: rgb(54,77,204);
}

.links-list.second {
  margin-top: 30px;
}